.wellcome {
    font-family: $welcome-font-family;
    color: $welcome-font-color;
    @include bg-mixin('../assets/image02.jpg', 50% 35%);
    text-align: center;
    padding-top: 100px;

    &__container {
        position: relative;
        top: -100px;
        opacity: 0;
        transition: 0.3s all ease-in-out;
        
        &.animation__container {
            opacity: 1;
            top: 0;
        }
    }

    &__headline {
        font-size: 3.75em;
        font-weight: 900;
        text-transform: uppercase;
        padding-top: 300px;
        padding-bottom: 20px;
        @include desktop {
            font-size: 3.45em;
            padding-top: 200px;
            padding-bottom: 20px;
        }
        @include tablet {
            font-size: 3.0em;
        }
        @include phone {
            font-size: 2.5em;
            padding-top: 120px;
            padding-bottom: 20px;
        }
    }

    &__subheadline {
        font-size: 1.375em;
        font-weight: 300;
        line-height: 2.0;
        padding-bottom: 250px;
        @include desktop {
            font-size: 1.2em;
        }
        @include tablet {
            line-height: 1.5;
        }
        @include phone {
            font-size: 1.0em;
            padding-bottom: 120px;
        }
    }
}